
<h1 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
    <!--<% if @about.present? %>
        <%= @about.first.title %> 
        <span class="text-purple-600 dark:text-purple-500">the world's #1</span> CRM.
    <% else %>
        No title available.
    <% end %>-->
</h1>

<% @about.each do |about| %>
    <h2 class="mb-4 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
        <%= about.title %>
    </h2>

    <p class="text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">
        <%= about.body %>
    </p>
<% end %>
